@using TaskTracker.Models.Client
@model Client
@{
    ViewData["Title"] = "Create Client";
}
<h1>Create Client</h1>
@await Html.PartialAsync("~/Views/Shared/_AlertsPartial.cshtml")
@await Html.PartialAsync("_CreateForm", Model ?? new TaskTracker.Models.Client.Client())
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}