@{
    ViewData["Title"] = "Home Page";
}

@if (User.Identity.IsAuthenticated)
{
    <h1>New Task</h1>
    <partial name="~/Views/TimeEntries/_CreateForm.cshtml" />
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Sign in to record tasks.</p>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}