@model TaskTracker.Models.Project

<div id="edit-row-@Model.ProjectID" class="edit-mode card mb-2" style="display:none;">
    <form id="edit-form-@Model.ProjectID" asp-action="Edit" asp-route-id="@Model.ProjectID" method="post" class="card-body">
        <input type="hidden" asp-for="ProjectID" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row g-3">
            <div class="col-md-4">
                <input asp-for="Name" class="form-control" placeholder="Project Name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <input asp-for="Description" class="form-control" placeholder="Description" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <input asp-for="Rate" class="form-control" type="number" step="0.01" placeholder="Project Rate" />
                <span asp-validation-for="Rate" class="text-danger"></span>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-success save-btn">Save</button>
                <button type="button" class="btn btn-secondary cancel-btn" data-id="@Model.ProjectID">Cancel</button>
            </div>
        </div>
    </form>
</div>