@model TaskTracker.Models.Project
@{
    ViewData["Title"] = "Create Project";
}
<h1>Create Project</h1>
@await Html.PartialAsync("~/Views/Shared/_AlertsPartial.cshtml")
@await Html.PartialAsync("_CreateForm", Model ?? new TaskTracker.Models.Project(){Name = "New Project"})

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}