@using TaskTracker.Models.Project
@model IEnumerable<Project>

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<!-- Display success or error messages -->
@await Html.PartialAsync("~/Views/Shared/_AlertsPartial.cshtml")

@await Html.PartialAsync("_CreateForm", new TaskTracker.Models.Project.Project() { Name = "New Project" })

<p>
    <button id="create-new-btn" class="btn btn-primary">Create New</button>
</p>

<div class="row mb-2">
    <div class="col-md-4"><strong>@Html.DisplayNameFor(model => model.Name)</strong></div>
    <div class="col-md-2"><strong>@Html.DisplayNameFor(model => model.Rate)</strong></div>
    <div class="col-md-6"><strong>@Html.DisplayNameFor(model => model.Description)</strong></div>
</div>

@{
    var index = 1;
}
@foreach (var project in Model)
{
    var projectRowViewModel = new ProjectRowViewModel(project, index);
    @await Html.PartialAsync("_DisplayRow", projectRowViewModel)
    @await Html.PartialAsync("_EditFormRow", projectRowViewModel)
    index++;
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}