html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

form {
    display: inline;
}

label {
    display: inline;
}

textarea {
    height: 5em;
}

/* Alternating row colors for display-mode cards */
.odd-row {
    background-color: #f8f8f8; /* Light gray for odd rows */
}

.even-row {
    background-color: #ffffff; /* White for even rows */
}

.edit-mode .form-control, #create-form .form-control {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 4px;
}

.edit-mode .text-danger, #create-form .text-danger {
    font-size: 0.8em;
    display: block;
}

.edit-mode .btn, #create-form .btn {
    margin-right: 5px;
}

.alert-success {
    transition: opacity 1s ease-in-out;
}

abbr[title] {
    text-decoration: underline dotted;
    text-decoration-skip-ink: auto;
    cursor: help;
}

.form-select {
    display: inline;
    width: auto;
}

.records-per-page {
    text-align: right;
    margin: auto 0 0.5em 0;
}
}

.ml-2 {
    margin-left: .5em;
}

.ml-3 {
    margin-left: 1em;
}

.ml-4 {
    margin-left: 1.5em;
}

.ml-5 {
    margin-left: 2em;
}

.delete-action-link {
    color: #dc3545; /* Bootstrap's danger color for delete actions */
    margin-top: 0.5em; /* Extra space above */
    padding-top: 0.5em; /* Additional padding for spacing */
    border-top: 1px solid #dee2e6; /* Gray horizontal line above delete link */
}